<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>RodrigoSGGouvea's SWAPI Angular Consumer</h1>

  <div *ngIf="isLoading">Loading...</div>
  <div *ngIf="!isLoading">
    <form>
      <input type="text" class="txt" name="item" placeholder="Search Star Wars characters" [(ngModel)]="searchInput">
      <input type="submit" value="Search" (click)="searchPeople()">
    </form>
  
    <h2>Total: {{count}}</h2>
    
    <table>
      <thead>
        <tr>
          <td>Name</td>
          <td>Birth</td>
          <td>Gender</td>
          <td>Weight</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let person of people">
          <td>{{person.name}}</td>
          <td>{{person.gender}}</td>
          <td>{{person.birth_year}}</td>
          <td>{{person.mass}}</td>
        </tr>
      </tbody>
    </table>
    
    <a href="#" *ngIf="previous" (click)="getPreviousPage()">Previous Page</a>
    <a href="#" *ngIf="next" (click)="getNextPage()">Next Page</a>
  </div>

</div>

